@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,400;0,700;1,400;1,700&family=Roboto+Slab:wght@400;700&display=swap');

html {
    height: 100%;
    min-height:800px;
}
body {
    background: url('https://images.pexels.com/photos/5402716/pexels-photo-5402716.jpeg?auto=compress&cs=tinysrgb&h=750&w=1260');
    background-size:cover;
    background-repeat:no-repeat;
    text-align: center;
    font-family: 'Noto Sans', sans-serif;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

h1{
    font-weight:400;
    padding-top:0;
    margin-top:0;
    font-family: 'Roboto Slab', serif;
    color: white;
}

#svg_form_time {
    height: 15px;
    max-width: 80%;
    margin: 40px auto 20px;
    display: block;
}

#svg_form_time circle,
#svg_form_time rect {
    fill: white;
}

.button {
    background: #D3A625;
    border-radius: 5px;
    padding: 15px 25px;
    display: inline-block;
    margin: 10px;
    font-weight: bold;
    color: #000;
    cursor: pointer;
    box-shadow:0px 2px 5px rgb(0,0,0,0.5);
}

.disabled {
    display:none;
}

section {
    padding: 50px ;
    max-width: 500px;
    margin: 30px auto;
    background:white;
    background:rgba(255,255,255,0.9);
    backdrop-filter:blur(10px);
    box-shadow:0px 2px 10px rgba(0,0,0,0.3);
    border-radius:5px;
    transition:transform 0.2s ease-in-out;
}

section p {
    font-weight: bold;
    font-style: italic;
}


input:not([type=checkbox]):not([type=radio]) {
    width: 100%;
    margin: 7px 0px;
    display: inline-block;
    padding: 12px 25px;
    box-sizing: border-box;
    border-radius: 5px;
    border: 1px solid lightgrey;
    font-size: 1em;
    font-family:inherit;
    background:white;
}

label {
    width: 100%;
    text-align: left;
    display: inline-block;
}

p{
    text-align:justify;
    margin-top:0;
}

section.answers .answer .tick {
    margin-right: 10px;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    height: 15px;
    transform: translateY(-5px);
}

section.answers .answer .tick:before, section.answers .answer .tick:after {
    content: '';
    width: 17px;
    height: 3px;
    background: #000;
    transform:  translate(50%) rotate(45deg);
    display: inline-block;
}

section.answers .answer .tick:after {
    transform:  translate(-50%) rotate(-45deg);
}

section.answers .answer.selected .tick:before, section.answers .answer.selected .tick:after {
    content: '';
    width: 10px;
    height: 3px;
    background: #D3A625;
    transform:  translate(3px,2px) rotate(45deg);
    display: inline-block;
}

section.answers .answer.selected .tick:after {
    width: 17px;
    transform: translateX(-3px) rotate(-55deg);
}

section.answers .answer.selected {
    font-size: 120%;
}

section.answers .arms {
    float: right;
    width: 150px;
    height: 160px;
    position: relative;
    border-radius: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

section.answers .arms img {
    position: absolute;
    top: 0;
    left:0;
    bottom: 0;
    right: 0;
    width: 100%;
    height: 100%;
}